<%= form_for @note do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content, :class => "materialize-textarea" %>
  </div>
  <div class="actions row">
    <div class="col s12">
      <%= f.submit :class => "col s12 btn waves-effect waves-light amber" %>
    </div>
  </div>
<% end %>
