
<div class="container">

  <div class="row">
    <% @notes.each do |note| %>
      <!-- <div class="col s3 offset-s1 grey darken-4 note">
        <h5> <%= link_to note.title, note %></h5>
        <p class="amber-text"><i><%= time_ago_in_words(note.created_at) %></i></p>
      </div> -->

      <div class="col s12 m4">
        <div class="card grey darken-4">
          <div class="card-content white-text">
            <span class="card-title" ><%= link_to note.title, note, :class => "white-text" %></span>
            <p><small>About <%= time_ago_in_words(note.created_at) %> ago</small></p>
          </div>
          <div class="card-action">
            <%= link_to "Edit", edit_note_path(note) %>
            <%= link_to "Delete", note_path(note), method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="fixed-action-btn">
    <%= link_to "<i class='large material-icons'>add</i>".html_safe, new_note_path, :class => "btn-floating btn-large amber darken-2" %>
  </div>
