
<div class="container notes-div">

  <div class="row">
    <% if @notes.empty? %>
      <h3 class="caption center-align", id="no-note">You Have No Notes yet</h3>
    <% else %>
      <% @notes.each do |note| %>
        <div class="col s12 m4">
          <div class="card grey darken-4">
            <div class="card-content white-text">
              <span class="card-title" ><%= link_to note.title, note, :class => "white-text" %></span>
              <p class="created-at"><small><%= time_ago_in_words(note.created_at).capitalize %> ago</small></p>
            </div>
            <div class="card-action">
              <%= link_to "Edit", edit_note_path(note) %>
              <%= link_to "Delete", note_path(note), method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="fixed-action-btn">
    <%= link_to "<i class='large material-icons'>add</i>".html_safe, new_note_path, :class => "btn btn-floating btn-large amber darken-2 tooltipped", :data => { :position => 'left', :delay => '50', :tooltip => 'Create new note' } %>
  </div>
